<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <main>
        <div class="flex-main">
            <h1 class='order-title'> shipping :</h1>
            <div class="flex-vertical">
                <div class="top-sect">
                    <div>
                        <h3>Product Name</h2>
                            <p>Skirt blue blouse</p>
                    </div>

                    <div class="no-show-mobile">
                        <!-- ingore this div -->
                    </div>

                    <div>
                        <h3>Product Price</h3>
                        <p>$56
                        </p>
                    </div>

                </div>
                <hr>
                <div class="bottom-sect">
                    <img class="no-show-mobile" src="/img/img1.jpg" alt="">
                    <div class="no-show-mobile">
                        <h3>Total</h3>
                        <p>$567</p>
                    </div>

                    <div class="mobile-text">
                        <h3> Total Items</h3>
                        <p>2</p>
                    </div>
                </div>
            </div>

            <div class="flex-vertical">
                <div class="top-sect">
                    <div>
                        <h3>Product Name</h2>
                            <p>Skirt blue blouse</p>
                    </div>

                    <div class="no-show-mobile">
                        <!-- <h3>Total</h2>
                        <p>1235</p> -->
                    </div>

                    <div>
                        <h3>Product Price</h3>
                        <p>$5
                        </p>
                    </div>

                </div>
                <hr>
                <div class="bottom-sect">
                    <img class="no-show-mobile" src="/img/img11.jpg" alt="">
                    <div class="no-show-mobile">
                        <h3>Total</h3>
                        <p>$567</p>
                    </div>

                    <div class="mobile-text">
                        <h3>Item</h3>
                        <p>3</p>
                    </div>
                </div>
            </div>

            <div class="flex-vertical">
                <div class="top-sect">
                    <div>
                        <h3>Product Name</h2>
                            <p>Skirt blue blouse</p>
                    </div>

                    <div class="no-show-mobile">
                        <!-- <h3>Total</h2>
                        <p>1235</p> -->
                    </div>

                    <div>
                        <h3>Product Price</h3>
                        <p>$123
                        </p>
                    </div>

                </div>
                <hr>
                <div class="bottom-sect">
                    <img class="no-show-mobile" src="/img/img10.jpg" alt="">
                    <div class="no-show-mobile">
                        <h3>Total</h3>
                        <p>567</p>
                    </div>

                    <div class="mobile-text">
                        <h3>Total Item(s)</h3>
                        <p>4</p>
                    </div>
                </div>
            </div>


            <div class="customer">
                <div class="customer-detail">
                    <div>
                        <h3>Customer Details</h2>
                    </div>
                </div>
                <hr>

                <div class="details">
                    <form class="customer-text">
                        <div class="item5">
                            <label for="fname">First name:</label><br>
                            <input type="text" id="fname" name="fname"><br>
                        </div>
                        <div class="item6">
                            <label for="fname">Last Name:</label><br>
                            <input type="text" id="lname" name="lname"><br>
                        </div>

                        <div class="item7">
                            <label for="fname">Email:</label><br>
                            <input type="text" id="fname" name="email"><br>
                        </div>

                        <div class="item8 hidden">
                            <P>Payment</P>
                            <div>
                                <label for="fname">Card Number:</label><br>
                                <input type="text" id="card" name="card-number"><br>
                            </div>
                            <div>
                                <label for="fname">Exp Date</label><br>
                                <input type="text" id="exp" name="exp"><br>
                            </div>
                            <div>
                                <label for="fname">Security Code</label><br>
                                <input type="text" id="code" name="code"><br>
                            </div>
                        </div>

                    </form>

                    <form class="customer-text2">
                        <div class="item1">
                            <label for="fname">Address</label><br>
                            <input type="text" id="address" name="address"><br>
                        </div>
                        <div class="item2">
                            <label for="fname">City</label><br>
                            <input type="text" id="city" name="city"><br>
                        </div>
                        <div class="item3">
                            <label for="fname">State</label><br>
                            <input type="text" id="sate" name="sate"><br>
                        </div>
                        <div class="item4">
                            <label for="fname">Zip Code</label><br>
                            <input type="text" id="zip" name="zip"><br>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </main>

</body>

</html>