<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Righteous&display=swap" rel="stylesheet">
    <!-- FONT-AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <!-- LOCAL STYLE CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/media.css">
</head>

<body>
    <div class="overlay"></div>
    <div class="hero">
        <div class="left-side">
            <span class="logo">FURNISH</span>

            <div class="sm-product ">
                <h1 class="product-index">01</h1>
                <div class="sm-product-img-container">
                    <img src="/img/img25.jpg" class="sm-product-img" alt="">
                </div>
                <p class="sm-product-desc">Best Quality Furnitures at Your Door Steps</p>
            </div>
        </div>
        <div class="right-side ">
            <img src="/img/img25.jpg" alt="" class="backdrop-img ">
            <div class="content">
                <div class="product-detail">
                    <h1 class="product-name">Qaulity Furnitures</h1>
                    <p class="product-desc">Best Quality Furniture at Your Door Steps.We are the best furniture and fashion retailing for over 2 decades. Our products are made with the most dedicate touch.</p>
                    <a href="#products" class="buy-btn">Buy Now</a>
                    <button class="nxt-btn"><i class="fa-solid fa-arrow-right"> Next</i></button>
                </div>
                <div class="product-img-container">
                    <img src="/img/img25.jpg" class="product-img" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="product-display">
        <div class="imgs-product">
            <img class="img1" src="/img/img1.jpg" alt="">
            <img class="img2" src="/img/img7.jpg" alt="">
        </div>
        <div class="desc">
            <h1>Timeless pieces</h1>
            <p>A well-executed concept can result in a timeless piece of furniture that never goes out of style, that is what our concept focus on. We creat elegant confortable timeless furniture. </p>
        </div>
    </div>


    <section class="card-products">
        <div class="title">
            <h1>Shop your Vaforites</h1>
            <p>Elegan Quality & Top Noch at every corners</p>
        </div>

        <div id="products" class="cards">
            <div class="card">
                <img src="/img/img8 - Copy.jpg" alt="">
                <card class="card-body">
                    <h1 class="card-title">Product Name</h1>
                    <p class="card-sub-title">Color Blue <br><strong>$445</strong></p>
                    <p class="card-info">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium al</p>
                    <button class="card-btn"><a href="#">Add to card</a></button>
                </card>
            </div>
            <div class="card">
                <img src="/img/img20.jpg" alt="">
                <card class="card-body">
                    <h1 class="card-title">Product Name</h1>
                    <p class="card-sub-title">Color:<strong>White</strong> <br>$523</p>
                    <p class="card-info">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium al</p>
                    <button class="card-btn"><a href="#">Add to card</a></button>
                </card>
            </div>
            <div class="card">
                <img src="/img/img11.jpg" alt="">
                <card class="card-body">
                    <h1 class="card-title">Product Name</h1>
                    <p class="card-sub-title">Color:<strong>White</strong> <br>$523</p>
                    <p class="card-info">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium al</p>
                    <button class="card-btn"><a href="#">Add to card</a></button>
                </card>
            </div>
            <div class="card">
                <img src="/img/img9.jpg" alt="">
                <card class="card-body">
                    <h1 class="card-title">Product Name</h1>
                    <p class="card-sub-title">Color:<strong>White</strong> <br>$523</p>
                    <p class="card-info">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium al</p>
                    <button class="card-btn"><a href="#">Add to card</a></button>
                </card>
            </div>

            <div class="card">
                <img src="/img/img10.jpg" alt="">
                <card class="card-body">
                    <h1 class="card-title">Product Name</h1>
                    <p class="card-sub-title">Color:<strong>White</strong> <br>$523</p>
                    <p class="card-info">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium al</p>
                    <button class="card-btn"><a href="#">Add to card</a></button>
                </card>
            </div>
            <div class="card">
                <img src="/img/img28.jpg" alt="">
                <card class="card-body">
                    <h1 class="card-title">Product Name</h1>
                    <p class="card-sub-title">Color:<strong>White</strong> <br>$523</p>
                    <p class="card-info">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium al</p>
                    <button class="card-btn"><a href="#">Add to card</a></button>
                </card>
            </div>
            <div class="card">
                <img src="/img/img21.jpg" alt="">
                <card class="card-body">
                    <h1 class="card-title">Product Name</h1>
                    <p class="card-sub-title">Color:<strong>White</strong> <br>$523</p>
                    <p class="card-info">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium al</p>
                    <button class="card-btn"><a href="#">Add to card</a></button>
                </card>
            </div>
            <div class="card">
                <img src="/img/img5.jpg" alt="">
                <card class="card-body">
                    <h1 class="card-title">Product Name</h1>
                    <p class="card-sub-title">Color:<strong>White</strong> <br>$523</p>
                    <p class="card-info">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium al</p>
                    <button class="card-btn"><a href="#">Add to card</a></button>
                </card>
            </div>
        </div>
        </div>
    </section>
    <footer>
        <div class="footer-text">
            <h1>Dedicated to changing how the world works and making life better for people everywhere.</h1>
        </div>
        <ul class="home-footer">
            <li><a href="">About Us</a></li>
            <li><a href="#products">Products</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </footer>

    <script src="/app-js/index.js"></script>
</body>

</html>